@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f9f9f9];
  }
}

.blob:nth-child(3) {
  @apply blur-[100px];
}

body {
  position: relative;
}

/* tostify font style */

.toastBody{
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #f5f7f7;
  font-size: 0.875rem !important;
}

/* webkit scrool-bar */

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f7f7;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-code);
  border-radius: 5rem;
}

/* add scroll animation */

.animationTimeline {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* clip-path: inset(100% 100% 0 0); */
  }
  to {
    opacity: 1;
    scale: 1;
    /* clip-path: inset(0 0 0 0); */
  }
}

/* Container class for Education section:- */

.container {
  padding: 10px 50px;
  position: relative;
  /* max-width: 50%; */
  /* width: 50%; */
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.timelineBefore::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: var(--colorCode);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .timelineBefore::after {
    display: none;
  }
}

/* footer animation */
.wave {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.wave1 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.wave2 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

.wave3 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* education card animation */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* setting icons */
.rotate {
  animation: spinIcons 2s linear infinite;
}

@keyframes spinIcons {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
